<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<nav>
    <h1>
        Unlock Insights from Your Logs
    </h1>
    <p>
        Effortlessly analyze and visualize log data to identify patterns, troubleshoot issues, and optimize performance.
    </p>
    <button>
        <a href="/register" class="truncate">Get Started for Free</a>
    </button>
    <p>
        Already have an account? <a href="/login">Log In</a>
    </p>
</nav>

{% block body %}{% endblock %}
</body>
</html>
