<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Log Parser{% endblock %}</title>
    <link rel="icon" href="data:image/x-icon;base64," type="image/x-icon">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans:wght@400;500;700;900&family=Spline+Sans:wght@400;500;700" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>

    <style type="text/tailwindcss">
        :root {
            --primary-color: #38e07b;
        }
    </style>

    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-white text-gray-800" style='font-family: "Spline Sans", "Noto Sans", sans-serif;'>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
